USE [master]
GO
/****** Object:  Database [InventarioDB]    Script Date: 30-Sep-23 10:33:37 PM ******/
CREATE DATABASE [InventarioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventarioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InventarioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventarioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventarioDB]
GO
/****** Object:  Table [dbo].[Entrada]    Script Date: 30-Sep-23 10:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada](
	[EntradaID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Cantidad] [int] NULL,
	[ProductoID] [int] NULL,
	[Observacion] [nvarchar](60) NULL,
 CONSTRAINT [PK_Entrada] PRIMARY KEY CLUSTERED 
(
	[EntradaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 30-Sep-23 10:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[SKU] [int] NULL,
	[Valor] [decimal](12, 2) NULL,
	[Cantidad] [int] NULL,
	[Responsable] [nvarchar](50) NULL,
	[StockMinimo] [int] NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salida]    Script Date: 30-Sep-23 10:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salida](
	[SalidaID] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Cantidad] [int] NULL,
	[ProductoID] [int] NULL,
	[Observacion] [nvarchar](60) NULL,
 CONSTRAINT [PK_Salida] PRIMARY KEY CLUSTERED 
(
	[SalidaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Producto] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[Producto] ([ProductoID])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_Producto]
GO
ALTER TABLE [dbo].[Salida]  WITH CHECK ADD  CONSTRAINT [FK_Salida_Producto] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[Producto] ([ProductoID])
GO
ALTER TABLE [dbo].[Salida] CHECK CONSTRAINT [FK_Salida_Producto]
GO
/****** Object:  Trigger [dbo].[ActualizarCantidadEntrada]    Script Date: 30-Sep-23 10:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ActualizarCantidadEntrada]
ON [dbo].[Entrada]
AFTER INSERT, UPDATE
AS
BEGIN
    -- Verificar si se trata de una inserción
    IF EXISTS (SELECT 1 FROM inserted i LEFT JOIN deleted d ON i.ProductoID = d.ProductoID WHERE d.ProductoID IS NULL) 
    BEGIN
        -- Es una inserción, actualizar la cantidad en la tabla Producto
        UPDATE Producto
        SET Cantidad = Producto.Cantidad + i.Cantidad
        FROM Producto
        INNER JOIN inserted AS i ON Producto.ProductoID = i.ProductoID;
    END
END;
GO
ALTER TABLE [dbo].[Entrada] ENABLE TRIGGER [ActualizarCantidadEntrada]
GO
/****** Object:  Trigger [dbo].[ActualizarCantidadSalida]    Script Date: 30-Sep-23 10:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[ActualizarCantidadSalida]
ON [dbo].[Salida]
AFTER INSERT, UPDATE
AS
BEGIN
    -- Verificar si se trata de una inserción
    IF EXISTS (SELECT 1 FROM inserted i LEFT JOIN deleted d ON i.ProductoID = d.ProductoID WHERE d.ProductoID IS NULL) 
    BEGIN
        -- Es una inserción, actualizar la cantidad en la tabla Producto
        UPDATE Producto
        SET Cantidad = Producto.Cantidad - i.Cantidad
        FROM Producto
        INNER JOIN inserted AS i ON Producto.ProductoID = i.ProductoID;
    END
END;
GO
ALTER TABLE [dbo].[Salida] ENABLE TRIGGER [ActualizarCantidadSalida]
GO
USE [master]
GO
